@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", "sans-serif";
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden-firebase {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  padding: 0;
  border: none;
}

#pagination {
  flex-shrink: 0;
  margin-top: 40px;
}
@media (min-width: 768px) {
  #pagination {
    margin-top: 60px;
  }
}
#pagination .tui-page-btn {
  border: none;
  line-height: 1.2px;
  font-weight: 500;
  color: #000000;
}
#pagination .tui-page-btn:hover {
  background-color: #f7f7f7;
}
@media (min-width: 768px) {
  #pagination .tui-page-btn {
    font-size: 12px;
    margin-right: 15px;
  }
}
@media (min-width: 1280px) {
  #pagination .tui-page-btn {
    font-size: 12px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  #pagination .tui-page-btn:not(:last-child) {
    margin-right: 15px;
  }
}
@media (min-width: 1280px) {
  #pagination .tui-page-btn:not(:last-child) {
    margin-right: 20px;
  }
}
#pagination .tui-is-selected {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-color: #FF6B01;
  color: #ffffff;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
#pagination .tui-is-selected:hover {
  background-color: #FF6B01;
}
@media (min-width: 768px) {
  #pagination .tui-is-selected {
    width: 40px;
    height: 40px;
  }
}
#pagination .tui-ico-first,
#pagination .tui-ico-last {
  margin-top: 8px;
}
@media (min-width: 768px) {
  #pagination .tui-ico-first {
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  #pagination .tui-ico-last {
    margin-left: 10px;
  }
}
#pagination .tui-prev {
  margin-right: 5px;
}
@media (min-width: 768px) {
  #pagination .tui-prev {
    margin-right: 10px;
  }
}
#pagination .tui-next {
  margin-left: 5px;
}
@media (min-width: 768px) {
  #pagination .tui-next {
    margin-left: 10px;
  }
}
#pagination .tui-prev,
#pagination .tui-next {
  width: 25px;
  height: 25px;
  background-color: #f7f7f7;
  border-radius: 5px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#pagination .tui-prev:hover,
#pagination .tui-next:hover {
  color: #FFFFFF;
  background-color: #f7f7f7;
}
@media (min-width: 768px) {
  #pagination .tui-prev,
  #pagination .tui-next {
    width: 40px;
    height: 40px;
  }
}
#pagination .tui-ico-next,
#pagination .tui-ico-prev {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.modal-open {
  overflow: hidden;
}

.backdrop-film-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-film-card.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop-film-card.is-hidden .modal-film {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-film {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 280px;
}
@media screen and (max-width: 767px) {
  .modal-film {
    overflow: scroll;
    height: 90%;
  }
}
@media screen and (min-width: 768px) {
  .modal-film {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film {
    width: 806px;
  }
}
.modal-film__main {
  padding: 48px 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .modal-film__main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 68px;
    padding: 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__main {
    gap: 16px;
    padding: 40px 12px;
  }
}
.modal-film__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.modal-film__item {
  color: #8C8C8C;
  min-width: 108px;
}
@media screen and (min-width: 1280px) {
  .modal-film__item {
    min-width: 152px;
  }
}
.modal-film__info, .modal-film__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.modal-film__info--orange {
  display: flex;
}
.modal-film__info--uppercase {
  text-transform: uppercase;
}
.modal-film .devider::before {
  content: "/";
  display: block;
  padding-left: 3px;
  padding-right: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8C8C8C;
}
.modal-film .orange-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  background: #FF6B01;
  color: #FFFFFF;
  border-radius: 5px;
}
.modal-film__items {
  display: flex;
  align-items: center;
}
.modal-film__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
.modal-film__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}
.modal-film__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
}

.modal-film__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.modal-film__close-btn:hover > .icon-close-modal-card, .modal-film__close-btn:focus > .icon-close-modal-card {
  fill: #FF6B01;
}

.icon-close-modal-card {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-film__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .modal-film__buttons {
    gap: 15px;
  }
}
.modal-film__buttons .btn-watched,
.modal-film__buttons .btn-queue {
  width: 100px;
  min-height: 44px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-film__buttons .btn-watched,
  .modal-film__buttons .btn-queue {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__buttons .btn-watched,
  .modal-film__buttons .btn-queue {
    width: 136px;
  }
}
.modal-film__buttons .btn-watched:hover, .modal-film__buttons .btn-watched:focus,
.modal-film__buttons .btn-queue:hover,
.modal-film__buttons .btn-queue:focus {
  color: #FFFFFF;
  background-color: #FF6B01;
  border: 1px solid #FF6B01;
}

.modal-film__poster {
  width: 240px;
  height: 357px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .modal-film__poster {
    min-width: 264px;
    height: 373px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__poster {
    min-width: 375px;
    height: 478px;
    margin-bottom: 0;
  }
}

.modal-film__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.trailer__icon {
  fill: red;
}

.trailer {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45px;
  left: 25px;
}
@media screen and (min-width: 768px) {
  .trailer {
    left: 40px;
    top: 40px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .trailer {
    left: 20px;
  }
}

.trailer__icon {
  fill: red;
}

.team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #8C8C8C;
  z-index: 100;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.team.is-hidden .team__modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.team__modal {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: calc(100% - 30px);
  max-width: 420px;
  background-color: #FFFFFF;
  padding: 50px 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .team__modal {
    max-width: 650px;
  }
}
@media screen and (min-width: 1280px) {
  .team__modal {
    max-width: 980px;
  }
}
.team__modal-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
  }
}

.team__item {
  max-width: 270px;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px 10px;
  box-shadow: 5px 10px 10px #000000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.team__item:hover, .team__item:focus {
  background-color: #545454;
  color: #FF6B01;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.team__thumb {
  width: 250px;
  max-width: 320px;
  height: 320px;
}

.team__img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  gap: 10px;
}

.btn-modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close:hover, .btn-modal-close:focus {
  border: 2px solid #FF6B01;
  border-radius: 50px;
  fill: #FF6B01;
}

.btn-modal-open {
  position: relative;
}
.btn-modal-open::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -4;
  display: block;
  position: absolute;
  background-color: #FF6B01;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-open:hover::after {
  transform: scaleX(1);
}

.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  background-color: rgba(26, 26, 25, 0.3);
}

.team__item:hover .team__overlay,
.team__item:focus .team__overlay {
  transform: translateX(0);
}

.team__overlay-link {
  display: flex;
  flex-direction: column;
}

.team__overlay-icon {
  fill: #FFFFFF;
  stroke: #545454;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__overlay-icon:hover, .team__overlay-icon:focus {
  fill: #FF6B01;
}

.modal-firebase {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-firebase {
  position: relative;
  width: 80%;
  max-width: 650px;
  margin: 15% auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.modal-firebase__title {
  text-align: center;
  margin: 0;
  color: #000000;
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  /* Адаптація від 320px до 768px */
  /* Адаптація від 768px до 1280px */
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .modal-firebase__title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .modal-firebase__title {
    font-size: 25px;
    line-height: 30px;
  }
}

.modal-firebase__form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 16px;
  /* Адаптація від 320px до 480px */
  /* Адаптація від 320px до 768px */
  /* Адаптація від 768px до 1280px */
}
@media (min-width: 320px) and (max-width: 479.98px) {
  .modal-firebase__form {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .modal-firebase__form {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .modal-firebase__form {
    font-size: 14px;
  }
}

.modal-firebase__form-input {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  outline: transparent;
}
.modal-firebase__form-input::placeholder {
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-firebase__form-input:hover, .modal-firebase__form-input:focus {
  border-color: #FF6B01;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-firebase__form-input:hover::placeholder, .modal-firebase__form-input:focus::placeholder {
  color: #FF6B01;
}

.modal-firebase__close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  float: right;
  /* Адаптація від 320px до 768px */
  /* Адаптація від 768px до 1280px */
}
.modal-firebase__close:hover, .modal-firebase__close:focus {
  color: #FF6B01;
  text-decoration: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .modal-firebase__close {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .modal-firebase__close {
    font-size: 45px;
  }
}

.modal-firebase__form-button--send {
  padding: 12px 30px;
  background-color: transparent;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  border: solid 1px #000000;
}
.modal-firebase__form-button--send:hover {
  border: solid 1px transparent;
  background-color: #FF6B01;
  color: #FFFFFF;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-firebase__form-wrapper-register {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 479.98px) {
  .modal-firebase__form-wrapper-register {
    margin-right: auto;
  }
}

.modal__form-button-register {
  padding: 0;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
@media (min-width: 320px) and (max-width: 479.98px) {
  .modal__form-button-register {
    margin-right: auto;
  }
}

.modal-firebase__form-button-register {
  padding: 0;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
}
.modal-firebase__form-button-register:hover {
  color: #FF6B01;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-firebase__form-text-register {
  margin: 0;
  color: #000000;
}

.clicked::placeholder {
  color: red;
}

.spinner {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99998;
  overflow: hidden;
  transition: background-color 1s;
  background-color: rgba(0, 0, 0, 0.2);
}

.dot-flashing {
  top: 50%;
  right: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FFFFFF;
  color: #FFFFFF;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  z-index: 99999;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FFFFFF;
  color: #FFFFFF;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FFFFFF;
  color: #FFFFFF;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #ff001b;
  }
  50% {
    background-color: #FFFFFF;
  }
  100% {
    background-color: #FFFFFF;
  }
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 1001;
  background-color: #090E11;
  transition: background-color 0s;
}

.preloader__image {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.animate__fadeIn {
  animation: fadeIn;
  animation-duration: 0.5s;
}

.animate__fadeOut {
  background-color: transparent;
  transition: background-color 0s;
  animation: fadeOut;
  animation-duration: 0.5s;
}

.film-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .film-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-list {
    row-gap: 32px;
    column-gap: 16px;
  }
}

.film-list__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 3px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 3px;
}
@media screen and (max-width: 767px) {
  .film-list__item {
    max-width: 280px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .film-list__item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .film-list__item {
    flex-basis: calc((100% - 32px) / 3);
  }
}
.film-list__item:hover, .film-list__item:focus-within {
  scale: 1.03;
  border-radius: 5px;
  border: 3px solid #FF6B01;
}

.film-poster {
  border-radius: 5px;
}
@media screen and (min-width: 320px) {
  .film-poster {
    height: 423px;
  }
}
@media screen and (min-width: 768px) {
  .film-poster {
    height: 501px;
  }
}
@media screen and (min-width: 1280px) {
  .film-poster {
    height: 591px;
  }
}

.film-list__info {
  flex-grow: 1;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.33;
}
@media screen and (min-width: 768px) {
  .film-list__info {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .film-list__info {
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-list__name {
  text-transform: uppercase;
  color: #000000;
  margin: 0px;
  font-weight: 500;
}

.film-list__genre {
  color: #ff6b08;
  margin: 0px;
  font-weight: 500;
}

.btn-scroll {
  position: fixed;
  bottom: 100px;
  right: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(218, 214, 204, 0.685);
}
.btn-scroll:hover, .btn-scroll:focus {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6);
  transform: scale(1.2);
  color: #FF6B01;
}

.btn-scroll__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.js-backdrop-trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity 250ms linear;
  z-index: 101;
}

.video-trailer {
  max-width: 100%;
  width: 303px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .video-trailer {
    width: 757px;
    height: 425px;
  }
}
@media screen and (min-width: 1280px) {
  .video-trailer {
    width: 1164px;
    height: 654px;
  }
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 320px) {
  .header {
    padding: 40px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-mob-1x.jpg);
    height: 230px;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 40px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-tabl-1x.jpg);
    height: 216px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-tabl-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-desk-1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/home-desk-2x.jpg);
  }
}

@media screen and (min-width: 320px) {
  .header__library {
    padding: 40px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-mob-1x.jpg);
    height: 230px;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header__library {
    padding: 40px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-tabl-1x.jpg);
    height: 216px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-tabl-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-desk-1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header__library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-desk-2x.jpg);
  }
}

.container__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 26px;
  height: 26px;
  stroke: currentColor;
}

.nav__logo {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__logo:hover, .nav__logo:focus {
  color: #FF001B;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__text {
  font-size: 30px;
  line-height: 1.1666666667;
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .nav__text {
    display: none;
  }
}

.nav__li {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.1666666667;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__li:hover, .nav__li:focus {
  color: #FF001B;
}

.nav__li--current {
  position: relative;
}
.nav__li--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #ff001b;
}

.search-form {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 320px) {
  .search-form {
    margin-top: 55px;
  }
}
@media screen and (min-width: 768px) {
  .search-form {
    margin-top: 40px;
  }
}

.search-form__box {
  position: relative;
}

.search-form__input {
  font-size: 14px;
  line-height: 1.1428571429;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  color: #FFFFFF;
  width: 394px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  outline: none;
}
@media screen and (max-width: 1279px) {
  .search-form__input {
    width: 336px;
  }
}
@media screen and (max-width: 767px) {
  .search-form__input {
    width: 280px;
  }
}
.search-form__input::placeholder {
  color: #FFFFFF;
}

.search-form__svg {
  width: 12px;
  height: 12px;
}

.search-form__button {
  position: absolute;
  right: -5px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-form__button:hover, .search-form__button:focus {
  transform: scale(1.5);
}

.nav__li--logOut,
.nav__li--logIn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.1666666667;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__li--logOut:hover, .nav__li--logOut:focus,
.nav__li--logIn:hover,
.nav__li--logIn:focus {
  color: #FF001B;
}

.library__box {
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .library__box {
    gap: 32px;
  }
}
@media screen and (max-width: 767px) {
  .library__box {
    gap: 20px;
  }
}
@media screen and (min-width: 320px) {
  .library__box {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .library__box {
    margin-top: 46px;
  }
}

.library__button {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  width: 148px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #FFFFFF;
}
@media screen and (max-width: 1279px) {
  .library__button {
    width: 152px;
    height: 44px;
  }
}
@media screen and (max-width: 767px) {
  .library__button {
    width: 130px;
  }
}

.library__button--current,
.library__button:hover,
.library__button:focus {
  background-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: none;
}

.warning {
  opacity: 1;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  color: #ff001b;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s linear;
}

.warning.is-hidden {
  opacity: 0;
}

.footer {
  background: #f7f7f7;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  color: #545454;
  font-size: 16px;
  line-height: 1.1875;
}
@media screen and (max-width: 767px) {
  .footer {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 390px 32px 408px;
}
@media screen and (max-width: 1279px) {
  .footer__box {
    padding: 30px 143px;
  }
}
@media screen and (max-width: 767px) {
  .footer__box {
    padding: 29px 36px 29px 48px;
  }
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.19;
}

.footer__svg {
  display: block;
  width: 14px;
  height: 12.75px;
}

.footer__button {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  color: #545454;
  font-size: 16px;
  line-height: 1.1875;
  color: #545454;
  border: none;
  background-color: transparent;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .footer__button {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.gallery-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .gallery-section {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.library-wrap {
  height: 480px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/library_320.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .library-wrap {
    height: 512px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/library_768.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .library-wrap {
    height: 1024px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/library_1280.jpg);
  }
}
.library-section {
  padding: 20px 0 40px 0;
}
@media screen and (min-width: 768px) {
  .library-section {
    padding: 60px 0 60px 0;
  }
}/*# sourceMappingURL=index.css.map */