p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

button {
   cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

