// fonts
$roboto-font: 'Roboto', 'sans-serif';

// breakpoints
$phone: 320px;
$tablet: 768px;
$desktop: 1280px;

$max-phone: 319px;
$max-tablet: 767px;
$max-desktop: 1279px;

// transition
$main-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);


// colors

$AccentColorRed: #FF001B;
$AccentColorOrange: #FF6B01;

//for text
$textColorBlack: #000000;
$textColorWhite: #FFFFFF;
$textColorGray: #545454;

// for modal 
$textColorGraySecond: #8C8C8C;

// for button 
$btnWhiteColor: #ffffff;
$btnBlackColor: #000000;

//back-ground color 
$backGroundWhite: #ffffff;
$backGroundGray: #f7f7f7;


// /shadow 
$dropShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// preloader 
$preloaderBackGround: #090E11;

// spinner
$spinnerLayout: rgba(0, 0, 0, 0.33);
$spinnerFill: #FFFFFF;
$spinnerAccent: #ff001b;

//btn-scroll
$btnScrollLight: rgba(218, 214, 204, 0.685);

//shadow btn transition
$dropShadowtransitionDark: 0 0 20px 5px rgba(0, 0, 0, 0.6);
$dropShadowtransitionLight: 0 0 5px 5px rgba(0, 0, 0, 0.6);