// fonts
$roboto-font: 'Roboto', 'serif';

// breakpoints
$phone: 320px;
$tablet: 768px;
$desktop: 1280px;

$max-phone: 319px;
$max-tablet: 767px;
$max-desktop: 1279px;

// transition
$main-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// colors
