.container {
  margin: auto auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.gallery-section {
  padding: 20px 20px 40px 20px;
  @media screen and (min-width: 768px) {
    padding: 60px 32px 60px 32px;
  }
}
