<li data-modal-card-open class="item-fictive">
  Це тут замість справжньої картки, щоб побачити скелет модалки
</li>
<div class="backdrop-film-card is-hidden">
  <div class="modal-film">
    <div class="modal-film__poster"></div>
    <div class="modal-film__description">
      <h2 class="modal-film__title">Lorem ipsum dolor sit amet, cons</h2>
      <ul class="modal-film__container list">
        <li class="modal-film__items">
          <p class="modal-film__item">Vote / Votes</p>
          <p class="modal-film__info modal-film__info--orange">
            <span class="orange-number">7.3</span
            ><span class="devider"></span>1260
          </p>
        </li>
        <li class="modal-film__items">
          <p class="modal-film__item">Popularity</p>
          <p class="modal-film__info">100.2</p>
        </li>
        <li class="modal-film__items">
          <p class="modal-film__item">Original Title</p>
          <p class="modal-film__info">A FISTFUL OF LEAD ddddddd</p>
        </li>
        <li class="modal-film__items">
          <p class="modal-film__item">Genre</p>
          <p class="modal-film__info">Western</p>
        </li>
      </ul>
      <p class="modal-film__about">About</p>
      <p class="modal-film__text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="modal-film__buttons">
        <button type="button" class="btn-watched button">watched</button>
        <button type="button" class="btn-queue button">queue</button>
      </div>
    </div>
    <button class="modal-film__close-btn button" type="button">
      <svg class="icon-close-modal-card" width="14" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
