<div class="team is-hidden">
  <div class="team__modal">
    <h2 class="team__modal-title">Filmoteka-Team</h2>
    <button class="btn-modal-close btn">
      <svg class="icon-modal-close" width="18" height="18">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="team__list list">
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/hanna_vakulenko.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Анна Вакуленко</h3>
          <p class="team__subtitle">Team Lead</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/HannaVakulenko"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQFK1IYAPLr8oAAAAYdDioA4b0fy1F_tBeCxUzH7fCSFmoF1qgsUFVIbxSN4ZnQru7QIxE6EC2lcK19KUPvEBAyNtufoigk84hy_CaAEgM5DeMZ3n06Uvq0bGAlG1sk56bFXZso=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fanna-vakulenko-b20a01a7"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/dmytro_smirnov.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Дмитро Смірнов</h3>
          <p class="team__subtitle">Scrum Master</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/Lucky13identify"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/in/smirnov-dmytro/"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/denis.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Денис Завірюха</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/DenisZaviriukha"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/your-emotional-state-undefined-b27236271/"
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/halyna_tyzhbir.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Галина Тижбір</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/HalynaTyzhbir"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/in/halyna-tyzhbir-7388b7148/"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/anna_dolbina.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Анна Долбіна</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/Dolbina"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/dolbinaann/"
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/dasha_nikula.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Даша Нікула</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/alkinuradia"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="#"
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/oleksandr_kovshar.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Олександр Ковшар</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/Aleksandr-Kovshar"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/in/avkovshar/"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/pavlo_skripnuyk.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Павло Скрипнюк</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/Skripnuyk"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/in/skripnuyk-pavlo/"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/anna_iemelianova.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Анна Ємельянова</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/AnnaIemelianova"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/in/anna-iemelianova-725971142/"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/vasyl_rybotytskyi.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Василь Риботицький</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/VasylRybotytskyi"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/in/vasyl-rybotytskyi/"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/ksenia_fihas.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Ксенія Фігас</h3>
          <p class="team__subtitle">Developer</p>
        </div>
        <div class="team__overlay">
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://github.com/KseniaFihas"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
          <a
            class="team__overlay-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            href="https://www.linkedin.com/in/ksenia-fihas-455ab9206/"
          >
            <svg class="team__overlay-icon" width="50" height="50">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/mykhail_kleban.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Михаїл Клебан</h3>
          <p class="team__subtitle">Developer</p>
          <div class="team__overlay">
            <a
              class="team__overlay-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              href="https://github.com/DarkSwarp/"
            >
              <svg class="team__overlay-icon" width="50" height="50">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__overlay-link"
              href="#"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="team__overlay-icon" width="50" height="50">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
