
        <button id="open-modal-btn">Open Modal</button>
        <div class="modal" id="Modal">
            <div class="modal-content">
                <span class="close" id="close-modal-btn">&times;</span>
                <h2 class="modal-title">Login</h2>
                <form class="modal-form" >
                    <input type="email" class="modal-form__input" name="name" placeholder="Email*">
                    <input type="password" class="modal-form__input" name="email" placeholder="Password*">
                    <button class="modal-button__send" type="submit">Login</button>
                    <div class="modal-form__wraper-register">
                        <p class="modal-form__text-register" >Don't have an account?</p>
                        <button class="modal-form__button-register" id="register-btn">Register</button>
                    </div>
                </form>
            </div>
        </div>

    
