<div class="backdrop-film-card is-hidden">
  <div class="modal-film">
    <div class="modal-film__main"></div>
    <button class="modal-film__close-btn button" type="button">
      <svg class="icon-close-modal-card" width="14" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <button class="trailer hide-trl" type="button">
      <svg class="trailer__icon" width="40" height="40">
        <use href="./images/icons.svg#icon-youtube"></use>
      </svg>
    </button>
  </div>
</div>
