<div class="team backdrop">
  <div class="team__modal">
    <button class="btn-modal-close">
      <svg class="icon-modal-close" width="18" height="18">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="team__list list">
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/hanna_vakulenko.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Анна Вакуленко</h3>
          <p class="team__subtitle">Team Lead</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/dmytro_smirnov.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Дмитро Смірнов</h3>
          <p class="team__subtitle">Scrum Master</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/denis.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Денис Завірюха</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/halyna_tyzhbir.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Галина Тижбір</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/anna_dolbina.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Анна Долбіна</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/dasha_nikula.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Даша Нікула</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/oleksandr_kovshar.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Олександр Ковшар</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/pavlo_skripnuyk.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Павло Скрипнюк</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/anna_iemelianova.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Анна Ємельянова</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/student.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Василь Риботицький</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/student.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Ксенія Фіхас</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/mykhail_kleban.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Михаїл Клебан</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/modal-students/student.jpg"
            alt="учасник команди"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Сергій Невінчаний</h3>
          <p class="team__subtitle">Member</p>
        </div>
      </li>
    </ul>
  </div>
</div>
