<footer class="footer">
  <div class="footer__box container">
    <span class="footer__text">© 2023 | All Rights Reserved |&nbsp;</span>
  <span class="footer__text"></span>
    Developed with&nbsp;&nbsp;<svg class="footer__svg">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>&nbsp;&nbsp;by
    <button class="footer__button btn-modal-open btn" type="button">&nbsp;GoIT Students</и></span
>
  <!-- кнопка для скрола -->
  <button class="btn btn-scroll">
    <svg class="btn-scroll__icon" width="24" height="24">
      <use href="./images/icons.svg#icon-circle-up"></use>
    </svg>
  </button>
  </div>
</footer>
