<header class="header">
  <div class="container">
    <div class="container__wrap">
      <a href="./index.html" class="nav__logo link"
        ><svg class="logo">
          <use href="./images/icons.svg#icon-film"></use></svg
        ><span class="nav__text">Filmoteka</span></a
      >
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__li nav__li--current link" href="./index.html"
              >HOME</a
            >
          </li>
          <li class="nav__item list list-library is-hidden-firebase">
            <a class="nav__li nav__li--library link" href="./my-library.html"
              >MY LIBRARY</a
            >
          </li>
          <li class="nav__li logIn">
            <button class="nav__li--logIn" type="button" id="open-modal-btn">
              LOG IN
            </button>
          </li>
          <li class="nav__li logOut is-hidden-firebase">
            <button class="nav__li--logOut" type="button">LOG OUT</button>
          </li>
        </ul>
      </nav>
    </div>
    <form class="search-form" autocomplete="off">
      <div class="search-form__box">
        <input
          class="search-form__input"
          name="searchQuery"
          type="text"
          placeholder="Movie search"
        />
        <button class="search-form__button" type="submit">
          <svg class="search-form__svg">
            <use href="./images/icons.svg#icon-search2"></use>
          </svg>
        </button>
      </div>
    </form>
    <p class="warning is-hidden">
      Search result not successful. Enter the correct movie name
    </p>
  </div>
</header>
