<section class="gallery-section">
  <div class="container">
    <ul class="film-list">
      <!-- <li class="film-list__item">
        <div class="film-thumb">
          <img class="film-poster" src="./images/q.jpg" alt="movie poster" />
        </div>

        <div class="film-list__info">
          <h3 class="film-list__name">GREYHOUND</h3>
          <p class="film-list__genre">Drama, Action | 2020</p>
        </div>
      </li> -->
    </ul>
  </div>
  <!-- Pagination -->
      <include src="./partials/pagination/pagination.html"></include>
</section>
