<header class="header">
  <div class="conteiner-header container">
    <a href="./index.html" class="nav__logo link"
      ><svg class="logo">
        <use href="./images/icons.svg#icon-film"></use></svg
      ><span class="nav__text">Filmoteka</span></a
    >
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__li link" href="./index.html">HOME</a>
        </li>
        <li class="nav__item list">
          <a class="nav__li nav__li--current link" href="./my-library.html"
            >MY LIBRARY</a
          >
        </li>
        <li class="nav__li logOut">
          <button class="nav__li--logOut" type="button">LOG OUT</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="library__box">
    <button class="library__button" type="button">WATCHED</button>
    <button class="library__button" type="button">QUEUE</button>
  </div>
</header>
