<header class="header header__library">
  <div class="container">
    <div class="container__wrap">
      <a href="./index.html" class="nav__logo link"
        ><svg class="logo">
          <use href="./images/icons.svg#icon-film"></use></svg
        ><span class="nav__text">Filmoteka</span></a
      >
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__li link" href="./index.html">HOME</a>
          </li>
          <li class="nav__item list">
            <a class="nav__li nav__li--current link" href="./my-library.html"
              >MY LIBRARY</a
            >
          </li>
          <li class="nav__li logOut">
            <a class="nav__li link log-out" href="./index.html">LOG OUT</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="library__box">
      <button
        class="library__button watched library__button--current"
        type="button"
      >
        WATCHED
      </button>
      <button class="library__button queue" type="button">QUEUE</button>
    </div>
  </div>
</header>
