.library-wrap {
  height: 480px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)),
    url(../images/library_320.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@include tablet {
  .library-wrap {
    height: 512px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)),
      url(../images/library_768.jpg);
  }
}

@include desktop {
  .library-wrap {
    height: 1024px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)),
      url(../images/library_1280.jpg);
  }
}

.library-section {
  padding: 20px 0 40px 0;

  @include tablet {
    padding: 60px 0 60px 0;
  }
}